In [22]:
import os
import pandas  as pd

In [24]:
#os.getcwd()
data="C:/Users/aksha/Desktop//PLANT_SEEDLINGS"
train_dir = os.path.join(data, 'train')
test_dir = os.path.join(data, 'test')
#sample_submission = pd.read_csv(os.path.join(data, 'sample_submission.csv'))

In [46]:
#######################DIRECTORIES
plants_species=os.listdir("C:/Users/aksha/Desktop//PLANT_SEEDLINGS//train")
number_plant_species=len(plants_species)
print(plants_species)
print('{} number of plant species'.format(number_plant_species))
for species in plants_species:
    print('{} images of {}'.format(len(os.listdir(os.path.join(train_dir, species))),species))

['Black-grass', 'Charlock', 'Cleavers', 'Common Chickweed', 'Common wheat', 'Fat Hen', 'Loose Silky-bent', 'Maize', 'Scentless Mayweed', 'Shepherds Purse', 'Small-flowered Cranesbill', 'Sugar beet']
12 number of plant species
263 images of Black-grass
390 images of Charlock
287 images of Cleavers
611 images of Common Chickweed
221 images of Common wheat
463 images of Fat Hen
654 images of Loose Silky-bent
221 images of Maize
516 images of Scentless Mayweed
231 images of Shepherds Purse
496 images of Small-flowered Cranesbill
385 images of Sugar beet

In [52]:
train = []
for species_id, species in enumerate(plants_species):
    for file in os.listdir(os.path.join(train_dir, species)):
        train.append(['train/{}/{}'.format(sp, file), file, species_id, species])
train_df = pd.DataFrame(train, columns=['filepath', 'file', 'species_id', 'species'])
print('train_df.shape = ', train_df.shape)

train_df.shape =  (4738, 4)

In [55]:
train_df.tail()
#type(train_df)

                            filepath           file  species_id     species
4733  train/Sugar beet/fc293eacb.png  fc293eacb.png          11  Sugar beet
4734  train/Sugar beet/fc441208c.png  fc441208c.png          11  Sugar beet
4735  train/Sugar beet/fed9406b2.png  fed9406b2.png          11  Sugar beet
4736  train/Sugar beet/fef5e7066.png  fef5e7066.png          11  Sugar beet
4737  train/Sugar beet/ffa401155.png  ffa401155.png          11  Sugar beet

In [56]:
test = []
for file in os.listdir(test_dir):
    test.append(['test/{}'.format(file), file])
test_df = pd.DataFrame(test, columns=['filepath', 'file'])
print('test_df.shape = ', test_df.shape)

test_df.shape =  (794, 2)

In [57]:
test_df.tail()

               filepath           file
789  test/fea355851.png  fea355851.png
790  test/fea3da57c.png  fea3da57c.png
791  test/fef2ade8c.png  fef2ade8c.png
792  test/ff65bc002.png  ff65bc002.png
793  test/ffc6f8527.png  ffc6f8527.png

In [58]:
from matplotlib import pyplot as plt
from skimage import data
from skimage.feature import *
from math import sqrt
from skimage.color import rgb2gray
import glob
from skimage.io import imread

In [65]:
file=glob.glob("C:/Users/aksha/Desktop//PLANT_SEEDLINGS//train//Sugar beet//ffa01155.png")

In [67]:
#file.show()

AttributeError: 'list' object has no attribute 'show'